<h2 class="text-center">Welcom to School</h2>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Subject</th>
      <th scope="col">Start Time</th>
      <th scope="col">End Time</th>
      <th scope="col">Classroon</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @subjects.each do |subject|%>
    <tr>
      <th scope="row"><%= subject.subject %></th>
      <td><%= subject.start_time %></td>
      <td><%= subject.end_time %></td>
      <td><%= subject.class_room %></td>
      <td><%= link_to "Add Section to Schedule", schedule_index_path(section_id: subject.id), method: :post %></td>
    </tr>
  <% end %>
  </tbody>
</table>